@font-face {
    font-family: 'DroidSans-Regular';
    src: url('fonts/DroidSans.ttf') format('truetype');
}
@font-face {
    font-family: 'DroidSans-Bold';
    src: url('fonts/DroidSans-Bold.ttf') format('truetype');
}
/* @font-face {
    font-family: 'DroidSerif-Bold';
    src: url('fonts/DroidSerif-Bold.ttf') format('truetype');
} */
@font-face {
    font-family: 'DroidSerif-Italic';
    font-style:italic;
    src: url('fonts/DroidSerif-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'DroidSerif-Regular';
    font-style:normal;
    src: url('fonts/DroidSerif-Regular.ttf') format('truetype');
}

strong{
    font-family:'DroidSans';
}

b{
    font-family:'DroidSans';
    font-weight:bold;
}

img {
    width:35px;
}

i{
    font-family:'DroidSerif-Italic';
}

/* body{
    margin-left:1in;
    margin-right:1in;
    margin-top:0.8in;
    margin-bottom:0.8in;
} */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, p{
    margin:5px;
}

h1, h2, h3{
    font-family:'DroidSans-Regular';
    font-weight:600;
}

h4{
    font-family:'DroidSans-Regular';
    font-weight:450;
}

h3{
    margin-top:12px;
}

h4{
    margin-top:10px;
    margin-left:10px;
}

article{
    margin-left:5px;
}

article p{
    margin-left:20px;
}

h4 small{
    margin-left:10px;
}

article small{
    margin-left:20px
}

article strong{
    margin-left:15px;
}

.areas ul li {
    width:33%;
}

.education article strong{
    margin-left:25px;
}

li{
    color:#370000;
}

li > span{
    color: black;
    /* font-family:'DroidSerif-Regular'; */
}

/* body{
    font-family:'DroidSerif-Regular';
} */

a {
    color:inherit;
    text-decoration:none;
}

a > img{
    margin-right:5px;
}

/* .workhistory li:before{
    color:#800000;
    content:'\003e';
    margin-right:25px;
    font-style:'bold';
}; */

.rulediv{
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
}

ul {
    margin-top:10px;
}