body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.navbar-brand{
    margin:auto;
    padding:0px;
}

li a:hover {
    background-color: #370000 !important;
}

footer div{
    background-color:white;
}

li p:first-letter{
    margin-left:30px;
}

li {
    font-size:25px;
    color:#370000;
}

p.home {
    margin-top:5px;
    font-size:25px;
    text-align:center;
}

.navbar-nav{
    float:right;
}

.navbar-nav a {
    font-size:24px;
}

.navbar-inverse{
    background-color:#FFFFFF;
}

.navbar-header a {
    font-size:20px;
}

footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
}

footer p {
    font-size: 18px;
}

figure{
    display:inline-block;
}

figure figcaption{
    text-align:center;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}