<section id="content">
        <!-- <figure>
            <img src="http://via.placeholder.com/1140x300" />
            <figcaption>Placeholder</figcaption>
        </figure> -->
        <article>
            <ul class="center" style="list-style-type:none">
                <li>
                    <img src="images/asp.svg" style="width:40px;height:40px" />
                </li>
                <li>
                    <img src="images/xamarin.svg" />
                </li>
                <li>
                    <img src="images/net.svg" />
                </li>
            </ul>
            <p class="home">Freelance Web, Mobile &amp; Desktop fullstack C# development</p>
        </article>
    </section>